<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" >
    <encoder>
        <charset>UTF-8</charset>
        <pattern>%d{dd-MM-yyyy HH:mm:ss} %magenta([%thread]) %red(%-5level) %logger{36}.%M - %msg%n</pattern>
    </encoder>
</appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <encoder>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${USER_HOME}/FFUUUUUU%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>



    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.sashaspringboot" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>



</configuration>